/* universal styling */
* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    font-family: 'Sniglet', cursive;
    /* color: white; */
}

body {
    /* background-color: black; */
    padding-top: 2rem;
}

/* title */
h1 {
    font-size: 6rem;
    margin: 0;
    text-align: center;
    font-weight: bold;
}

/* table styling */
.main {
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
    width: 100%;
    aspect-ratio: 1 / 1;
    margin: 50px;
}

div {
    border: 1px solid black;
}

main {
    display: flex;
}


/* player win background colour styling */
.player-one-wins {
    background-color: green;
}

.player-two-wins {
    background-color: green;
}


/* players section styling */
/* .players-section {
    display: flex;
    justify-content: space-evenly;
} */

h2 {
    text-align: center;
    font-size: 2.25rem;
    margin: 1rem auto;
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
    font-weight: 400;
}

/* .player {
    display: flex;
    justify-content: center;
} */

.player-box {
    border-radius: 100px;
    padding: 3rem;
    margin: 1rem;
}

.player-one-box {
    background-color: #630436;
}

.player-two-box {
    background-color: #016064;
}

/* form stying */
/* form {
    display: flex;
    justify-content: space-evenly;
} */

form {
    text-align: center;
}

input {
    border-radius: 10px;
    padding: 5px;
}

button {
    margin: 0.5rem;
    padding: 2px;
    border-radius: 5px;
}

/* X & O stying */
div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
}

/* hidden styling */
.hidden {
    display: none;
}

/* bottom button styling */
.bottom-btn {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
}

/* play again button */
.play-again {
    text-align: center;
}

.play-again button {
    margin-bottom: 20px;
}


/* footer styling */
