/* universal styling */
* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

main {
    display: grid;
    grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
    padding: 50px;
}

div {
    height: 200px;
    width: 100%;
    border: 1px solid black;
}


/* player win background colour styling */
.player-one-wins {
    background-color: green;
}

.player-two-wins {
    background-color: green;
}


/* players section styling */
.players-section {
    display: flex;
    justify-content: space-around;
}

h2 {
    text-align: center;
}

.player {
    display: flex;
}


/* X & O stying */
div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
}

/* hidden */
.hidden {
    display: none;
}